<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mobproject">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_app_mob"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_app_mob_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MobProject">
        <activity android:name=".SignUpActivity" />
        <activity android:name=".ForgotPasswordActivity" />
        <activity android:name=".SignUpMessageActivity" />
        <activity android:name=".UserProfileActivity" />
        <activity android:name=".CoursePageActivity" />
        <activity android:name=".EditProfileActivity" />
        <activity android:name=".CreateCourseActivity" />
        <activity android:name=".FavouriteListActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".MyCoursesListActivity" />

        <activity android:name=".CourseListActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>